{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Add New Student ({{ batch.name }})</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-6">
                <label>First Name</label>
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                <label>Last Name</label>
                {{ form.last_name }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Username</label>
                {{ form.username }}
            </div>
            <div class="col-md-6">
                <label>Password</label>
                {{ form.password }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Mobile No</label>
                {{ form.mobile_no }}
            </div>
            <div class="col-md-6">
                <label>WhatsApp No</label>
                {{ form.whatsapp_no }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
            <label>Sales Person</label>
            {{ form.sales_person }}
            </div>
            <div class="col-md-6">
        <label>Admission Date</label>
        {{ form.admission_date }}
    </div>
        </div>

        


        <div class="mb-3 form-check">
            {{ form.drop_out }} <label class="form-check-label">Drop Out</label>
        </div>

        <button type="submit" class="btn btn-primary">Add Student</button>
        <a href="{% url 'student_list' batch.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
