{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Student - {{ student.user.get_full_name }}</h2>
    <form method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <!-- <div class="col-md-6">
                <label>Batch</label>
                {{ form.batch }}
            </div> -->
            <div class="col-md-6">
                <label>Mobile No</label>
                {{ form.mobile_no }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>WhatsApp No</label>
                {{ form.whatsapp_no }}
            </div>
            <div class="col-md-6">
                <label>Sales Person</label>
                {{ form.sales_person }}
            </div>
        </div>

        <div class="row mb-3">
    <div class="col-md-6">
        <label>Admission Date</label>
        {{ form.admission_date }}
    </div>
</div>


        <div class="mb-3 form-check">
            {{ form.drop_out }} <label class="form-check-label">Drop Out</label>
        </div>

        <button type="submit" class="btn btn-primary">Update Student</button>
        <a href="{% url 'student_list' student.batch.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
