{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
    <h4>Students in {{ batch.name }}</h4>
    <div>
        <a href="{% url 'add_student' batch.id %}" class="btn btn-primary me-2">Add Student</a>
        <a href="{% url 'import_students' batch.id %}" class="btn btn-secondary me-2">Import from Excel</a>
        <a href="{% url 'export_students' batch.id %}" class="btn btn-success">Export to Excel</a>
    </div>
</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>WhatsApp</th>
                <th>Sales Person</th>
                <th>Admission Date</th>
                <!-- <th>Drop Out</th> -->
                <th>Drop Out Date</th>
                <!-- <th>Batch Change</th> -->
                <th>Batch Change Date</th>
                <th>Placement Pool Date </th>
                <th>Placed Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.user.get_full_name }}</td>
                <td>{{ student.mobile_no }}</td>
                <td>{{ student.whatsapp_no }}</td>
                <td>{{ student.sales_person.user.get_full_name }}</td>
                <td>{{ student.admission_date|date:"F Y" }}</td>  <!-- Month Year -->
                <!-- <td>{{ student.drop_out|yesno:"Yes,No" }}</td> -->
                <td>{{ student.dropout_date|date:"F Y" }}</td>
                <!-- <td>{{ student.batch_change|yesno:"Yes,No" }}</td> -->
                <td>{{ student.batch_change_date|date:"F Y" }}</td>
                <td>{{ student.placement_pool_added_date|date:"F Y" }}</td>
                <td>{{ student.placed_date|date:"F Y" }}</td>
                <td>
                    <a href="{% url 'edit_student' student.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Delete this student?');">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No students found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="{% url 'add_student' batch.id %}" class="btn btn-success">Add Student</a>
        <a href="{% url 'batch_list' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}
